.x.axis path {
    display: none;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: yellow;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

#x_bar_axis{
    font-size: 0;
}

