.x.axis path {
    display: none;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: white;
}

.focus text {
    font-size: 14px;
    fill: #74ec74;
}

rect.tooltip {
    fill: white;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

#x_bar_axis{
    font-size: 0;
}

text.title{
    font-size: 24px;
    font-weight: 500;
    fill: white;
}

text.subTitle{
    font-weight: 500;
    fill: white;
}

text.label{
    font-weight: 600;
}

text.yearText{
    font-size: 50px;
    font-weight: 700;
    fill: #777777;
    opacity: 0.25;
}

.tick text {
    fill: white;
}

.xAxis .tick:nth-child(2) text {
    text-anchor: start;
}

.tick line {
    shape-rendering: CrispEdges;
    stroke: #777777;
}

.tick line.origin{
    stroke: #777777;
}

path.domain{
    stroke: #777777;
}

 #wrapper {
    overflow-x: hidden;
 }

 #sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
